# Disable script execution
Options -ExecCGI
AddHandler cgi-script .php .php3 .php4 .php5 .phtml .pl .py .jsp .asp .htm .html .sh .cgi
<FilesMatch "\.(php|php3|php4|php5|phtml|pl|py|jsp|asp|htm|html|sh|cgi)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Prevent directory listing
Options -Indexes
